<form id="config-generator">
    <h1>Cypht Config Generator</h1>
    <blockquote>
        Click any of the options below to configure Cypht!<br>
        On the bottom of the page you can find a button to generate your .env
    </blockquote>
    {% for file in site.data.configFiles %}
    <details>
        <summary class="h4">
            <h2 class="h4">{{file | replace({".php": ""})}}</h2>
        </summary>
        {% for option in site.data.configOptions[file] %}
        {% set select = option.inputType == "select" %}
        {% set inputId = option.key ~ "_CCGINPUT" %}
        <fieldset id="{{option.key}}">
            <legend>
                <h3>{{option.key}}</h3>
            </legend>
            <label for="{{inputId}}">{{option.commentHtml}}</label>
            {% if option.valueDefault %}<p>Default: {{option.valueDefault}}</p>{% endif %}

            {% if not select %}
            <input id="{{inputId}}" type="{{option.inputType}}" name="{{option.key}}"
                data-default="{{option.valueDefault}}" {% if option.valueDefault %} {% if option.inputType=="checkbox"
                and option.valueDefault=="true" %} checked {% else %} value="{{option.valueDefault}}" {% endif %}
                {% endif %} />
            {% else %}
            <select class="btn btn-light text-left" id="{{inputId}}" name="{{option.key}}" data-default="{{option.valueDefault}}">
                {% for setValue in option.setValues %}
                <option value="{{setValue.value}}">{{setValue.value}} - {{setValue.description}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <button class="reset btn btn-light">Reset</button>
        </fieldset>
        {% endfor %}
    </details>
    <hr>
    {% endfor %}

    <hr>

    <button class="btn btn-success" id="generate">Generate .env file</button>
    <button class="btn btn-light" id="reset-all">Reset all</button>
    <p>
        Please note that neither <code>allow_session_cache</code> &amp; <code>cache_class</code> are configurable
        through here,
        as it is not recommended and as such quite advanced usage.
        Check <a href="https://github.com/cypht-org/cypht/blob/master/config/app.php">
            app.php (@github:cypht-org/cypht)
        </a> for more info
    </p>
    <textarea class="container" id="result"></textarea>
    <hr>
    <p>The 
        <a href="https://github.com/cypht-org/cypht-website#cypht-config-generator-generator">
            config-generator source code can be found on GitHub
        </a>
    </p>
</form>