<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{page.title}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/img/icon.ico">
		<link rel="stylesheet" href="/assets/main.css">
		<link rel="canonical" href="{{site.baseurl}}{{page.path}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

	</head>

	<body>
		{% include 'partials/navbar.html.twig' %}
		<div class="flex-1  main-content">
			{% if page.nocontainer is defined %}
				{{page.content}}
			{% else %}
				<main class="">
					{{page.content}}
					{% if page.path == 'config-generator' %}
						{{- include('partials/config-generator.html.twig') ~}}
					{% endif %}
				</main>
			{% endif %}
		</div>
		{% include 'partials/footer.html.twig' %}

		<script src="/jquery.slim.min.js"></script>
		{% if page.loadScriptAfter is defined %}
			<script src="{{page.loadScriptAfter}}"></script>
		{% endif %}
	</body>
</html>
