<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/icon.ico">
    <link rel="stylesheet" href="/site.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="/img/logo.svg" width="120" height="60" alt="">
                </a>
                <button class="navbar-toggler toggler-home" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        {% for pageEntry in site.pages.showable  %}
                            {% set current = pageEntry.path == page.path %}
                            <li class="nav-item {{current ? 'active' : ''}}">
                                <a
                                    class="nav-link"
                                    href="/{{pageEntry.path}}"
                                    {{ current ? 'aria-current="page"' : '' }}
                                >{{pageEntry.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% if page.nocontainer is defined %}
        {{page.content}}
    {% else %}
        <section class="content-section container">
            {{page.content}}
        </section>
    {% endif %}

    
    <section class="footer-section" id="contact">
        <div class="container text-center">
            <h2>Have a suggestion or a question?</h2>
            <h3>Or maybe you want to throw huge wads of cash at us? </h3>
            <p>We love feedback so let us know what you think!</p>
        </div>
    </section>
    <section class=" social-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-3 col-sm-12">
                    <p>
                        <span>Page on Github</span><br>
                        <a href="https://github.com/cypht-org/cypht-website/blob/master/install-1x.html">Edit here</a>
                    </p>
                </div>
                <div class="col-3 col-md-3 col-sm-12">
                    <p>
                        <span>Fill out an issue at Github</span><br>
                        <a href="https://github.com/cypht-org/cypht/issues">Submit an issue</a>
                    </p>
                </div>
                <div class="col-3 col-md-3 col-sm-12">
                    <p>
                        <span>Chat with us at Gitter</span><br>
                        <a href="https://gitter.im/cypht-org/community">Cypht at Gitter</a>
                    </p>
                </div>
                <div class="col-3 col-md-3 col-sm-12">
                    <p>
                        <span>Want to contribute?</span><br>
                        <a href="contribute.html">Cypht website contribution</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script src="/jquery.slim.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
</body>

</html>
